extends layout

block content
    .container
        hr
        .row
            .col-sm-6
                img(src="images/home/dashboard.png")
            .col-sm-6
                h1.center Realtime Feed update
                p Always keep up-to-date with what book is your friend reading now while keeping track of your own feed.
                
        hr 
        .row 
            .col-sm-6
                h1.center Details Book Info
                p See book info in details and comunity rating with the list of currently reading and already read people.
            .col-sm-6
                img(src="images/home/bookinfo-1.png")
                
        hr 
        .row
            .col-sm-6
                img(src="images/home/progress.png")
            .col-sm-6
                h1.center Keep Track of Book Reading Progress
                p Keep track of your or your friends book reading progress in realtime. See the progress change in realtime as you or your friend progress towards the end of the book.
            
        hr 
        .row 
            .col-sm-6
                h1.center Unfold the History
                p See your or your friends book reading history grouped by days. 
                
            .col-sm-6
                img(src="images/home/history.png")
                
        hr 
        .row 
            h4.center So why wait start your journey now ... 
            p.center
                a.btn.btn-success.center(href="http://localhost:3000/users/create") Sign me up