doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(ref="stylesheet", href="/stylesheets/star-rating.min.css", media="all")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // scripts
    script(src="/javascripts/jquery-1.12.2.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap-rating-input.min.js")
    script(src="/javascripts/script.js")
    
    
    include ./mixin.jade
  body
    
    // navigation bar
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Bookerly
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    +navItem('/books', 'Books', books)
                    +navItem('#', 'Download', download)
                    if loginInfo
                        if loginInfo.loggedin
                            +navItem('/users/view/'+loginInfo.username, loginInfo.username, profile)
                            +navItem('/users/logout', 'Log out', logout )
                        else
                            +navItem('/users/create', 'Sign Up', signUp) 
                            +navItem('/users/login', 'Log in', login)
                    
                    
                form.navbar-form.navbar-right(role='search' action="/search" method="get")
                    .form-group
                        input.form-control(type='text', placeholder = 'search', name='query', value=searchTerm ? "#{searchTerm}" : "")
                        button.btn.btn-info(type='submit') Submit
        // /.nav-collapse

    // header


    block content
            
    

