.container
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    b FOLLOWING
                    
                .panel-body
                    .row
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')

.container
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    b FOLLOWERS
                    
                .panel-body
                    .row
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                        .col-md-2
                            img(src='#')
                            
                
                        