extends layout

block content
    .container
        .row
            h1 Search users
            p The search term was #{query}
            
    .container
        .row
            h1 Search books
            
            .col-md-2
                img.img-thumbnail(src='/images/books/21857112.jpg')
                p This is the name of the book
            .col-md-2
                p Book2
            .col-md-2
                p Book1
            .col-md-2
                p Book2
            .col-md-2
                p Book1
            .col-md-2
                p Book2
                
            
    .container
        .row
            h1 Search author
        