extends layout

block content
    .container
        .row
            h1 Search users
            
            each user in users
                .col-md-2
                    a(href='users/view/'+ user.username)
                        img.img-thumbnail(src='/images/users/' + user._id + '.jpg')
                    .title #{user.name}
            
    .container
        .row
            h1 Search books
            - var i = 0;
            each item in books
                if i === 6
                    .row 
                    - i = 0;
                .col-md-2
                    a(href='/book/'+ item._id)
                        img.img-thumbnail(src='/images/books/' + item._id + '.jpg')
                    .title #{item.title}
                    - i++

                
            
    .container
        .row
            h1 Search author
            
            each author in authors
                .col-md-2
                    a(href='/author/'+ author._id)
                        img.img-thumbnail(src='/images/authors/' + author._id + '.jpg')
                    .title #{author.name}
        