/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

.single-book-image {
    padding-top: 23px;
    width: 100%;
}

img {
    width: 100%;
}

.profile-banner {
    background-image: url(/images/profile/background2.jpg);
    height: 172px;
}

.profile-short-info{
    color: white;
    padding-top: 25px;
}

.prof-nav {
    padding-top: 15px;
    list-style-type: none;
    color: white;
    background-color: black;
    height: 44px;
}

.profile-nav {
    height: 25px;
}

.prof-nav li {
    display: inline;
    padding: 5px;
    
}

.prof-nav li a {
    color: white;
}

.prof-nav li a.active {
    color: red;
}

.profile-image {
    padding-top: 17px;
}

.setting-left-part {
    text-align: right;
}

.profile-setting-image{
    height: 100px;
    width: 100px;
    align-content: right;
}

.after-image-upload{
    padding-top: 30px;
}

.profile-image-upload {
    padding-top: 25px;
}

.profile-image-thumb {
    text-align: right;
}

.mid-gap {
    padding-top: 15px;
}

.setting-save-button {
    text-align: center;
}

.network-name {
    text-align: center;

}

.error-text{
    color: darkred;
    text-align: center;
}

.progress-book-title h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.progress-book-author {
    margin-top: 0px;
    font-style: italic;
}

.progress-book-progress {
    padding-top: 0px;
}

.progress-book-description {
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.progress-book-show-more {
    text-align: right;
}

.center{
    text-align: center;
}

.img-small {
    width: 50px;
    height: 50px;
}

.currently-reading{
    background-color: #d9534f;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    /* bottom: 185px; */
    position: relative;
    top: -26px;
    text-align: center;
}

.popular-book-title {
    position: relative;
    top: -17px;
}


.profile-main-image {
    height: 132px;
    width: 132px;
}

.panel-dashboard-image {
    padding: 0px;
}

.panel-dashboard-image .thumbnail {
    margin-bottom: 0px;
}

.poster-under {
    position: relative;
}

.dashboard-profile-small {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 50%;
    margin-left: -20px;
}

.dashboard-activity-details {
    padding: 5px;
    padding-top: 18px;
    font-size: 12px;
}

.activity-date {
    background-color: #ccc;
    color: #fff;
}

.no-top {
    margin-top: 0;
    clear: both;
}

.history-date {
    margin-left: 16px;
}

.dashboard-header {
    margin-left: 16px;
}

.left-activity {
    border-right: 1px solid #ccc;
}